nav  {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

nav img {
  width: 90px;
  height: 90px;
}



p {
  font-family: "Nunito",sans-serif;
}


/*-----------------------------------------------
Nav Section Ended
-----------------------------------------------*/

/*-----------------------------------------------
Hero section start
------------------------------------------------*/
Section h1 {
  font-size: 43px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 52px;
}

section h1 span {
  color: blue;
  
  

}



section p {
  font-size: 20px;
  line-height: 38px;
  
  
  
  

 
}

section #play-store {
  
  display: flex;
  flex-direction: row;
  column-gap: 10px;
 
  

 
}


@media only screen and (max-width: 768px) {
  

  section #play-store {
    margin-left: 50px;
    margin-right: 50px;
  }
  
}







/*--------------------------------------------------------
end of hero section
---------------------------------------------------------*/

/*-----------------------------------------------
partners section start
------------------------------------------------*/









