nav  {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

nav img {
  width: 190px;
  height: 90px;
}



p {
  font-family: "Nunito",sans-serif;
}


/*-----------------------------------------------
Nav Section Ended
-----------------------------------------------*/

/*-----------------------------------------------
Hero section start
------------------------------------------------*/
Section h1 {
  font-size: 43px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 52px;
}

section h1 span {
  color: blue;
  
  

}




section p {
  font-size: 20px;
  line-height: 38px;
  
  
  
  

 
}

section #play-store {
  
  display: flex;
  flex-direction: row;
  column-gap: 10px;
 
  

 
}


@media only screen and (max-width: 768px) {
  

  section #play-store {
    margin-left: 50px;
    margin-right: 50px;
  }
  
}







/*--------------------------------------------------------
end of hero section
---------------------------------------------------------*/

/*-----------------------------------------------
partners section start
------------------------------------------------*/

#partners-sec {
  border: 2px solid;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(229, 229, 229);
  padding-top: 10px;
  font-size: 5px;
  border-style: dashed;
 
}


.logos {
  overflow: hidden;
  padding: 60px 0;
  
  white-space: nowrap;
  position: relative;
  margin-top: 10px;
  
}

@keyframes slide {
  from{
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  
}

.logos-slide:hover {
  animation-play-state: paused;
}

.logos-slide img {
  height: 35px;
  margin: 0 15px;
}

.logos::before , .logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content:"";
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

@media only screen and (max-width:768px) {
  .logos::before {
    left: 0px;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255, 255, 255, 0.415));
  }
  
  .logos::after {
    right: 0px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.415));
  }

}
/*----------------------------------------------------------------------------------------------
End of partners section
-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------
next section start
------------------------------------------------*/

.card-new {
  background-color: #fdfdfd;
  margin-top: 20px;
}

.cover-card {
  padding: 60px 0;
}

#new {
  
   
    height: 100%;
    width: 400px;
    background:white;
    background-size: cover;
    position: relative;
    margin: 0px 20px;
    border-radius: 10px;
    
  
}

h1  div {
  margin-bottom: 20px;
  font-size: 48px;
}

#product-1  {
  font-size: 48px;
}

.card-sec {
  display: grid;
  grid-template-columns: auto auto auto ;
  margin: 0px 30px;
  justify-content: center;
  column-gap: 20px;

}

h1 span {
  color: blue;
}



#img-over {
  width:100%;
  height: 100%;
}



@media only screen and (max-width:668px) {
  .card-sec {
    display: grid;
    grid-template-columns: auto ;
    
    row-gap: 20px;
  }

}

@media only screen and (max-width:668px) {
  h1 div {
    margin-bottom: -10px;
    font-size: 40px;
  }

}

@media only screen and (max-width:668px) {
  #product-1  {
    font-size: 28px;
  }
}



/*---------------------------------------------------
End of section
---------------------------------------------------*/


/*-----------------------------------------------
daycare app
------------------------------------------------*/

.daycare-app {
  background-color: black;
  margin: 20px 30px;
  padding: 10px 40px;
  border-radius: 10px;
  
}

.daycare-app , .heading1 {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  
}

 .row {
  margin-top: -10px;
}

 #play-store1 {
  margin-bottom: 10px;
  
 

}



.download-app , #img-class {
  width: 200px;
  
}

.heading1 {
  line-height: 50px;
}

@media only screen and (min-width:1000px) {
   #play-store1 {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    
  }
}

/*---------------------------------------------------
End of daycare app
---------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}






#footer .footer-top {
  padding: 60px 0 30px 0;
  background: black;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#logo-footer {
  width: 200px;
  margin-bottom: 20px;
 margin-right: 170px;
 border: 2px;
 border: solid;
 border-color: aquamarine;
  
  
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: aliceblue;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}

/*---------------------------------------------------
End of footer
---------------------------------------------------*/
